
nav {
  background-color: #fff;
  color: #fff;
  display: flex;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: inline-block;
  margin-right: 20px;
}

p {
  color: #333;
  text-decoration: none;
  padding: 10px;
}

p:hover {
  background-color: #555;
}

#profile {
  justify-self: end;
  margin-right: 0;
  margin-left: 20;
}
  
.burgerMenu {
  display: none; /* Initially hide the burger menu */
}

@media (max-width: 768px) {
  .navList {
    display: none; /* Hide the list items on small screens */
  }

  .burgerMenu {
    display: block; /* Display the burger menu icon */
    cursor: pointer;
  }

  .burgerMenu.active + .navList {
    display: flex; /* Show the list items when burger menu is active */
    flex-direction: column;
    position: absolute;
    top: 50px; /* Adjust as needed */
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 20px;
    z-index: 1;
  }
}